<br/>
<ul class="list-group">
    <li class="list-group-item">
        <b style="font-size: 20px">甄国玉</b>&nbsp;&nbsp;&nbsp;
        <span class="text-primary">核心客户</span>
        <span class="fa fa-edit pull-right" style="cursor: pointer"></span>
    </li>
    <li class="list-group-item">上海金仕达卫宁软件股份有限公司</li>
    <li class="list-group-item">
        <i class="fa fa-location-arrow"></i> 中国 北京市 朝阳区 &nbsp;&nbsp;&nbsp;
        <i class="fa fa-phone"></i> 13287768766 &nbsp;&nbsp;&nbsp;
        <i class="fa fa-phone-square"></i> 010-87687767 &nbsp;&nbsp;&nbsp;
        <i class="fa fa-envelope"></i> 223232223@qq.com &nbsp;&nbsp;&nbsp;
        <i class="fa fa-comments"></i> weixing2323
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-2">
                <b>联系地址: </b>
            </div>
            <div class="col-sm-4">
                北京市霄云路鹏润大厦A座11层
            </div>
            <div class="col-sm-2">
                <b>家乡: </b>
            </div>
            <div class="col-sm-4">
                陕西省西安市高新三路财富中心II期D座704
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-2">
                <b>客户类型: </b>
            </div>
            <div class="col-sm-4">
                普通客户
            </div>
            <div class="col-sm-2">
                <b>案源种类: </b>
            </div>
            <div class="col-sm-4">
                个人
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-2">
                <b>企业主要业绩: </b>
            </div>
            <div class="col-sm-4">
                离职法官
            </div>
            <div class="col-sm-2">
                <b>性别: </b>
            </div>
            <div class="col-sm-4">
                男
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-2">
                <b>入库时间: </b>
            </div>
            <div class="col-sm-4">
                2014-08-09 22:00:00
            </div>
            <div class="col-sm-2">
                <b>入库方式: </b>
            </div>
            <div class="col-sm-4">
                手工录入
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-2">
                <b>建档人: </b>
            </div>
            <div class="col-sm-4">
                唐悠悠
            </div>
        </div>
    </li>
</ul>
<ul class="list-group">
    <li class="list-group-item">
        <b style="font-size: 20px">互动情况</b>
        <span class="pull-right fa fa-plus" style="cursor: pointer" data-toggle="modal"
              data-target="#interation"></span>
    </li>
    <li class="list-group-item">
        完成律师遴选工作 <span class="pull-right text-danger">2015-09-23 上午</span>
    </li>
    <li class="list-group-item">
        客户提交了一个互动信息 <span class="pull-right text-danger">2015-09-23 上午</span>
    </li>
</ul>
<ul class="list-group">
    <li class="list-group-item">
        <b style="font-size: 20px">合作情况</b>
    </li>
</ul>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <b style="display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">王宝强/马时发生的发生分是大法师打发打是的蓉离婚案</b>
                </div>
            </div>
            <div class="panel-body">
                <!-- 这里的1是项目id, 后台返回数据里面获取 $scope.project.id   {{id}} -->
                <a href="#/projects/list/1">
                    <p>编号: 22323233232</p>
                    <p>标的额: 1亿 </p>
                    <p>状态: <span class="text-primary">未提交评审</span></p>
                    <p>创建时间: 2016-2-3 18:22:22</p>
                </a>
                <p>
                    <button class="btn btn-default" data-toggle="modal" data-target="#analyst">提交分析师</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default" data-toggle="modal" data-target="#uploadfile">补充材料</button>
                </p>
            </div>
            <!-- 功能按钮 -->
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="interation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="interationLabel">添加互动信息</h4>
            </div>
            <div class="modal-body">
                <p>
                    <input type="datetime-local" ng-model="interactionTime" placeholder="互动时间" class="form-control"/>
                </p>
                <div class="panel">
                    <div style="margin-bottom:1.25rem" class="ueditor" ng-model="remarks"
                         config="_simpleConfig"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
