<br/>
<p class="text-right">
    <select ng-model="status" class="form-control">
        <option value="所有">所有</option>
        <option value="未提交评估">未提交评估</option>
        <option value="评估中">评估中</option>
        <option value="待签约">待签约</option>
        <option value="督办中">督办中</option>
        <option value="已结束">已结束</option>
        <option value="退回补充材料">退回补充材料</option>
    </select>
</p>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <b style="display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">王宝强/马时发生的发生分是大法师打发打是的蓉离婚案</b>
                </div>
            </div>
            <div class="panel-body">
                <!-- 这里的1是项目id, 后台返回数据里面获取 $scope.project.id   {{id}} -->
                <a href="#/projects/list/1">
                    <p>编号: 22323233232</p>
                    <p>标的额: 1亿 </p>
                    <p>状态: <span class="text-primary">未提交评审</span></p>
                    <p>创建时间: 2016-2-3 18:22:22</p>
                </a>
                <p>
                    <button class="btn btn-default" data-toggle="modal" data-target="#analyst">提交分析师</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default" data-toggle="modal" data-target="#uploadfile">补充材料</button>
                </p>
            </div>
            <!-- 功能按钮 -->
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <!-- 这里的1是项目id, 后台返回数据里面获取 $scope.project.id   {{id}} -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>王宝强/马蓉离婚案</b>
                </div>
            </div>
            <div class="panel-body">
                <a href="#/projects/list/2">
                    <p>编号: 22323233232</p>
                    <p>标的额: 1亿</p>
                    <p>状态: <span class="text-primary">待签约</span></p>
                    <p>创建时间: 2016-2-3 18:22:22</p>

                </a>
                <!-- 功能按钮 -->
                <p>
                    <button class="btn btn-default" data-toggle="modal" data-target="#sign">签约</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default">结束项目</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>王宝强/马蓉离婚案</b>
                </div>
            </div>
            <div class="panel-body">
                <a href="#/projects/list/3">
                    <p>编号: 22323233232</p>
                    <p>标的额: 1亿</p>
                    <p>状态: <span class="text-primary">评审未通过</span></p>
                    <p>创建时间: 2016-2-3 18:22:22</p>
                </a>
                <!-- 功能按钮 -->
                <p style="margin: 0">
                    <button class="btn btn-default">申诉</button>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>王宝强/马蓉离婚案</b>
                </div>
            </div>
            <div class="panel-body">
                <a href="#/projects/list/1">
                    <p>编号: 22323233232</p>
                    <p>标的额: 1亿</p>
                    <p>状态: <span class="text-primary">退回补充材料</span></p>
                    <p>创建时间: 2016-2-3 18:22:22</p>
                    <p class="text-primary">待补充材料</p>
                    <p>王宝强马蓉离婚案合同, 王宝强马蓉离婚案案件材料</p>
                </a>
                <p style="margin: 0">
                    <button class="btn btn-default" data-toggle="modal" data-target="#uploadfile">补充材料</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default">提交</button>
                </p>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>王宝强/马蓉离婚案</b>
                </div>
            </div>
            <div class="panel-body">
                <p>编号: 22323233232</p>
                <p>标的额: 1亿</p>
                <p>状态: <span class="text-primary">风控审核</span></p>
                <span>创建时间: 2016-2-3 18:22:22</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <b>王宝强/马蓉离婚案</b>
                </div>
            </div>
            <div class="panel-body">
                <p>编号: 22323233232</p>
                <p>标的额: 1亿</p>
                <p>状态: <span class="text-primary">风控审核</span></p>
                <span>创建时间: 2016-2-3 18:22:22</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <!--分页-->
        <div class="page">
            <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                            class="pagination-sm pull-left"
                            ng-change="pageChanged(bigCurrentPage)" boundary-links="true" boundary-links-numbers="true"
                            rotate="false"></uib-pagination>
            <span style="position: relative; top: 25px; margin-left: 10px">总共: <b
                    class="text-primary">{{maxItems}}</b>条</span>
        </div>
    </div>
</div>
<!-- 模板 -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="item in $ctrl.items">
                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ $ctrl.selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>
<!-- 模态框（Modal） 补充材料 -->
<div class="modal fade" id="uploadfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">补充材料</h4>
            </div>
            <div class="modal-body">
                <form name="form">
                    <div class="btn btn-default" ngf-select ng-model="files" ngf-multiple="true">选择文件 (可多选上传)</div>
                    <!--<div ngf-drop ng-model="files" class="drop-box">拖拽上传</div>-->
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in files">
                            {{item.name}}
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-default" ng-click="submit()">上传</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（Modal） 提交分析师 -->
<div class="modal fade" id="analyst" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="analystLabel">提交分析师</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group" style="margin-bottom: 0;">
                    <li class="list-group-item">
                        <input type="radio" name="analyst"/> 分析师一
                    </li>
                    <li class="list-group-item">
                        <input type="radio" name="analyst"/> 分析师二
                    </li>
                    <li class="list-group-item">
                        <input type="radio" name="analyst"/> 分析师三
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-default">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（Modal） 签约 -->
<div class="modal fade" id="sign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="signLabel">签约</h4>
            </div>
            <div class="modal-body">
                <form name="form">
                    <p>
                        <input type="date" name="signDate" placeholder="签约日期" class="form-control"/>
                    </p>
                    <div class="btn btn-default" ngf-select ng-model="files" ngf-multiple="true">上传电子合同 (可多选上传)
                    </div>
                    <ul class="list-group" style="margin-bottom: 10px">
                        <li class="list-group-item" ng-repeat="item in files">
                            {{item.name}}
                        </li>
                    </ul>
                    <!--<div ngf-drop ng-model="files" class="drop-box">拖拽上传</div>-->
                    <p>
                        <input type="number" name="money" class="form-control" ng-modle="money"
                               placeholder="签约标的 (万元)"/>
                    </p>
                    <p class="text-primary">收费情况</p>
                    <p>
                        <input type="number" name="beforeMoney" class="form-control" ng-modle="beforeMoney"
                               placeholder="前期 (万元)"/>
                    </p>
                    <p>
                        后期: <span class="text-danger">{{sign.result}}</span>万元
                    </p>
                    <p>
                        <select class="form-control" ng-model="charge">
                            <option value="">收费方式</option>
                            <option value="比例">比例</option>
                            <option value="固定值">固定值</option>
                            <option value="混合">混合</option>
                        </select>
                    </p>
                    <div ng-if="charge == '比例'">
                        <p>
                            <input type="text" ng-model="money"/> 万 * <input type="text" ng-model="percent"/> % = <span
                                ng-model="sign.result" class="text-danger">0</span>万元
                        </p>
                    </div>
                    <div ng-if="charge=='固定值'">
                        <p>
                            <input type="text" ng-model="sign.result"/> 万元
                        </p>
                    </div>
                    <div ng-if="charge=='混合'">
                        <p>
                            <input type="text" ng-model="money"/> 万 + <input type="text" ng-model="money"/> 万 * <input
                                type="text" ng-model="percent" style="width: 50px"/> % = <span ng-model="sign.result"
                                                                                               class="text-danger">0</span>万元
                        </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-default" ng-click="submit()">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<br/>
<br/>

